.display {
  height: 8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: var(--spacing-300);
  gap: var(--spacing-100);
  background: var(--color-type-2-background);
  border-radius: 0.625rem;
  overflow: hidden;

  @media (min-width: 48rem) {
    height: 10rem;
    padding: var(--spacing-400);
  }
}

.display::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4rem;
  background: linear-gradient(
    to right,
    var(--color-type-2-background),
    transparent
  );
  pointer-events: none;
  z-index: 1;
}

.history {
  font-family: var(--text-preset-3-family);
  font-weight: var(--text-preset-3-weight);
  font-size: var(--text-preset-3-size);
  line-height: var(--text-preset-3-line-height);
  letter-spacing: var(--text-preset-3-letter-spacing);
  text-align: right;
  color: var(--color-type-3);
  white-space: nowrap;
}

.value {
  font-family: var(--text-preset-2-family);
  font-weight: var(--text-preset-2-weight);
  font-size: var(--text-preset-2-size);
  line-height: var(--text-preset-2-line-height);
  letter-spacing: var(--text-preset-2-letter-spacing);
  text-align: right;
  color: var(--color-text);
  white-space: nowrap;

  @media (min-width: 48rem) {
    font-size: var(--text-preset-1-size);
    font-weight: var(--text-preset-1-weight);
    line-height: var(--text-preset-1-line-height);
    letter-spacing: var(--text-preset-1-letter-spacing);
  }
}
